
@import "../../../mixins";
@import "../../../variables";

.top-navigation {
    position: fixed;
    padding: 15px 5px;
    background-color: white;
    box-shadow: 0 0 10px grey;
    max-height: 60px;
    z-index: 10;

    .app-name {
        font-size: 1.25rem;
        display: inline;
        color: $brand-color;
        padding-left: 5px;
        line-height: 30px;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }

    .nav-item {
        padding: 0px 15px;
        float: right;
        color: rgba(0,0,0,.5);
        line-height: 30px;
        &:hover {
            color: $brand-color;
        }
    }

    .nav-item.side{
        display: none;
    }
    
    .nav-button{
        max-height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 1rem;
        border-radius: 5px;
        padding: 0px 10px;
        box-shadow: 0 0 5px $brand-color;
        color: $brand-color;
        &:hover {
            color: white;
            background-color: $brand-color;
            box-shadow: 0 0 10px $brand-color;
            cursor: pointer;
        }
    }

    .nav-button.dropdown-toggle{
        background-color: white;
        &:hover {
            color: white;
            background-color: $brand-color;
            box-shadow: 0 0 10px $brand-color;
            cursor: pointer;
        }
    }

    .nav-button.nav-item {
        margin: 0px 15px;
    }

    .menu {
        .bars {
            display: none;
            float: right;
        }
    }
    .nav-item.selected-item{
        color: $brand-color;
        font-weight: 600;
    }

    .price{
        position: absolute;
        width: calc(100vw - 30px);
        text-align: center;
        line-height: 0.5rem;
        color: $brand-color;
    }

    .logo-section{
        .nav-item{
            float:none!important;
        }
        .first{
            margin-left: 30px;
        }
    }
    
    .tabs{
        display: inline-block;
        position: absolute;
        left: 10vw;
        top: -3px;
        color: $text-color;
        .tab{
            
            display: inline-block;
            max-height: 50px;
            line-height: 50px;
            text-align: center;
            padding: 3px 10px;
            &:hover{
                cursor: pointer;
                color: $brand-color;
            }
            p{
                margin: auto;
                margin-top: 0px;
                margin-bottom: 0px;
                line-height: 20px;       
            }
            p:nth-child(2) {
                font-size: 0.8rem;
            }    
        }

        .tab.eth{
            p:nth-child(2) {
                font-size: 0.7rem;
            }    
        }

        .tab.active{
            color: $brand-color;
            border-top: 4px solid $brand-color;
            // border-left: 1px solid $brand-color;
            // border-right: 1px solid $brand-color;
        }
    }

    @media (max-width: 1090px) {
        .nav-button.nav-item {
            margin: 0px;
        }

        .app-name {
            display: none;
        }
    }

    @include mobile-range {
        background-color: white;
        z-index: 10;

        .menu{
            font-size: 1.3rem;
            .bars {
                display: inline-block;
                float: right;
            }
        }

        .app-name {
            display: none;
        }

        .navigation-items{
            max-height: 0;
            overflow: hidden;
        }
    
        .navigation-items.open{
            transition-property: max-height;
            transition: max-height 1s ease-in-out;
            max-height: 1000px;
            background: white;
            display: block;
            position: fixed;
            top: 65px;
            left: 0px;
            width: 100%;
            z-index: 10;
            box-shadow: 0 0 10px grey;
            .nav-item {
                display: block;
                width: 100%;
                background-color: white;
                padding: 5px 15px;
            }
        }

        .nav-item.nav-button{
            display: block;
            width: 100%;
            background-color: white;
            padding: 5px 15px;
            color: rgba(0,0,0,.5);
            font-size: 1.3rem;
            box-shadow: none;
            max-height: fit-content;
            height: fit-content;
            text-align: left;
            margin: 0px;
        }
        .tabs{
            display: inline-block;
            position: absolute;
            left: 15vw;
            top: -3px;
            color: $text-color;
        }
    }
}   