@import "../../mixins";

.trade-options-page{
    text-align: center;
    .table-box{
        background-color: white;
        padding: 30px;
        margin: auto;
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
        .table-wrapper{
            // width: fit-content;
            margin: auto;
            .title {
                text-align: left;
                padding-bottom: 30px;
                font-weight: 600;
            }
            .data-table{
                display: block;
                overflow-x: auto;
                white-space: nowrap;
                max-width: fit-content;
                margin: auto;
                th, td{
                    padding: 5px 30px;
                    border: 1px solid #ddd;
                    i{
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
                thead{
                    background-color: #eaeaea;
                }
                .option-type{
                    font-weight: 600;
                    text-align: left;
                }
                .expires-in{
                    text-align: right;
                }
            }
            .highlight-col{
                background-color: #edf0f1;
                font-weight: 600;
            }
        }
    }

    @include mobile-range {
        .table-box{
            padding: 15px;
        }
    }
}
