@import "../../variables";
@import "../../mixins";

.trade-options-page{
    text-align: center;
    position: relative;
    overflow-x: scroll;
    background-color: $background-color;

    #options-section {
        position: relative;
        min-width: fit-content;
        padding: 15px;
        padding-top: 70px;
    }

    #positions-section{
        min-width: fit-content;
        padding: 15px;
        padding-bottom: 5rem;

        .positions-title{
            margin-top: 3rem;
            margin-bottom: 2rem;
            line-height: 3.15rem;
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 1.3rem;
        }

        .data-table{
            display: block;
            white-space: nowrap;
            max-width: fit-content;
            margin: auto;
            width: 1000px;
        
            table {
                table-layout: auto;
                width: 1000px;
                td:last-child{
                    width: 400px;
                }
            }
        }
    }
}
