@import "../../_variables";
@import "../../mixins";

.landing-page{
    background-color: white;
    margin-top: 60px;
    .title{
        font-size: 3rem;
        text-align: center;
        margin-top: 7rem;
        color: $brand-color;
    }

    .statistics{
        text-align: center;
        margin-top: 4rem;
        .stat{

            :first-child{
                color: $brand-color;
            }
            :last-child{
                font-size: 1.5rem;
            }
        }
    }

    .action-boxes {
        background-color: white;
        margin-top: 5rem;
        .action-box{
            box-shadow: 0px 0px 10px grey;
            margin: 1rem 2rem;
            text-align: center;
            overflow: visible;
            min-height: 200px;
            .box-header{
                font-size: 1.7rem;
                padding: 15px;
                font-weight: 600;
                color: $brand-color;
            }
            .action-button{
                position: absolute; 
                left: 0; 
                right: 0; 
                bottom: 20px;
                margin-left: auto; 
                margin-right: auto; 
                width: 200px; /* Need a specific value to work */
            }
        }
    }
    @include mobile-range{
        .title {
            font-size: 2rem;
            margin-top: 2rem;
        }
        .statistics {
            margin-top: 2rem;
        }
        .action-boxes {
            margin-top: 2rem;
        }
    }
}