@import "../../../variables";

.data-table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    max-width: fit-content;
    margin: auto;

    th, td{
        padding: 5px 30px;
        border: 1px solid #ddd;
        i{
            color: rgba(0, 0, 0, 0.5);
        }
        p{
            margin: 0px;
        }
    }

    thead{
        background-color: #eaeaea;
    }

    .option-type{
        font-weight: 600;
        text-align: left;
    }

    .expires-in{
        text-align: right;
    }

    .green-cell {
        background-color: rgba(13, 243, 11, 0.05);
    }
    tbody{

        td {
            margin: 0px;
            padding: 0px;

            :nth-child(2){
                line-height: 1rem;
                margin: 0px;
                font-size: 0.9rem;
                color:rgb(153, 153, 153)
            }

            .row{
                margin-left: 0px;
                margin-right: 0px;
            }

            .trade-buttons {
                color: white;
                padding: 5px 60px;
                line-height: 1rem;
                margin: 5px 0px;
                border-radius: 5px;
            }
            
            .buy-button {
                @extend .trade-buttons;
                background-color: #35aa47;
            }
            
            .sell-button {
                @extend .trade-buttons;
                background-color: #d84a38;
            }

            .quantity-label{
                display: inline-block;
                position: relative;
                left: 15px;
            }

            .quantity-wrapper{
                display: inline-block;
            }

            .table-input{
                position: relative;
                #quantity-input{
                    margin: 5px -30px;
                    width: 50%;
                    position: relative;
                }
            }
        }
        td.green-text{
            color: $active-green!important;
            :nth-child(2){
                color: $active-green;
            }
        }
        td.red-text{
            color: $error-color!important;
            :nth-child(2){
                color: $error-color;
            }
        }
    }
}