@import "../../variables";

.account-page{
    margin: 15px 0px;
    background-color: white;
    width: 100%;
    min-height: calc(100vh - 90px);

    .user-data{
        position: relative;
        padding: 30px 15px;
        div {
            :nth-child(2) {
                margin-bottom: 1rem;
            }
        }
    }

    .check-input-field{
        display: inline-block;
        min-width: 2rem;
        line-height: 0.8rem;
    }

    .notifications{
        margin-bottom: 15px;
    }

    .account-title{
        line-height: 3.15rem;
        padding-top: 2rem;
        width: 100%;
        position: relative;
        text-align: center;
        font-weight: 600;
        font-size: 2rem;
        color: $text-color;
    }

    .account {
        line-height: 3.15rem;
        padding-top: 1.5rem;
        width: 100%;
        position: relative;
        text-align: center;
        font-weight: 600;
        font-size: 1.5rem;
        color: $text-color;
    }
}