@import "_variables";
@import "_mixins";
  
@include font-fam("airbnb-cereal-light", "./assets/fonts/airbnb-cereal/AirbnbCerealLight");
// @include font-fam("airbnb-cereal-medium", "./assets/fonts/airbnb-cereal/AirbnbCerealMedium");
// @include font-fam("airbnb-cereal-book", "./assets/fonts/airbnb-cereal/AirbnbCerealBook");

html, body, div, p, a, span, button, i, form, table, tr, td, th, li, ul{
    font-family: airbnb-cereal-light, "Comic Sans MS", Arial;
}

#root{
    background-color: white;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
}
button {
    border: 0;
}

button:focus {outline:0!important;}
input:focus {outline: 0!important;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.center-text {
    text-align: center;
}

.brand-color {
    color: $brand-color;
}

// Buttons

.action-button{
    max-height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0px 10px;
    box-shadow: 0 0 5px $brand-color;
    color: $brand-color;
    &:hover {
        color: white;
        background-color: $brand-color;
        box-shadow: 0 0 10px $brand-color;
        cursor: pointer;
    }
}

.cancel-button{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 0px 15px;
    box-shadow: 0 0 5px $text-color;
    border-radius: 5px;
    color: $text-color;
    background-color: white;
    margin-top: 5px;
    &:hover {
        color: white;
        background-color: $brand-color;
        box-shadow: 0 0 10px $brand-color;
        cursor: pointer;
    }
}

.confirm-button{
    width: 100%;
    border: 0;
    text-align: center;
    font-size: 1rem;
    padding: 0px 15px;
    box-shadow: 0 0 5px $brand-color;
    border-radius: 5px;
    color: $brand-color;
    background-color: white;
    margin-top: 5px;
    &:hover {
        color: white;
        background-color: $brand-color;
        box-shadow: 0 0 10px $brand-color;
        cursor: pointer;
    }
}

body{
    #root{
        .error-borders{
            border-color: $error-color;
        }

        input {
            border: 1px solid #ced4da;
            border-radius: .25rem;
            color: #495057;
            padding: .375rem .75rem;
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}
