@import "../../mixins";
@import "../../variables"; 

.page {
    padding: 15px;
    margin-top: 60px;

    .page-content {
        margin-left: 10vw;
    }

    .page-content.side-navigation-collapsed {
        margin-left: 50px;
    }

    @include mobile-range {
        .page-content {
            margin-left: 0px;
        }
    }
}

