@import "../../mixins";
@import "../../variables"; 

.page {
    background-color: #f1f3fa;
    margin-top: 60px;
    min-height: 100vh;
    .page-content {
        margin-left: 0;
    }

    @include mobile-range {
        .page-content {
            margin-left: 0px;
        }
    }
}

.page.page-with-side-bar {
    .page-content {
        margin-left: 10vw;
    }

    .page-content.side-navigation-collapsed {
        margin-left: 50px;
    }

    @include mobile-range {
        padding: 5px;
        .page-content {
            margin-left: 0px;
        }
    }
}

